# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import pandas as pd
import configparser
from datetime import datetime
import os
from pyspark import SparkConf
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col , to_date , monotonically_increasing_id , when,trim , explode , array , struct,expr,concat_ws
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format , dayofweek,lit
from pyspark.sql.types import StructType, StructField, StringType , LongType , DoubleType , TimestampType
os.environ['PYSPARK_SUBMIT_ARGS'] = "--packages=com.amazonaws:aws-java-sdk-bundle:1.11.271,org.apache.hadoop:hadoop-aws:3.1.2 pyspark-shell"

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
.config("spark.jars.packages","com.amazonaws:aws-java-sdk-pom:1.10.34") \
.enableHiveSupport().getOrCreate()

### Step 1: Scope the Project and Gather Data

#### Scope 
Scope of this project is to understand what crops are sown in India , and what was the avg weather during that time period. This will help us in understanding how agriculture pattern has evolved in India based on the weather changes over the years.

#### Describe and Gather Data 
I will be using using two datasets for this project
##### 1: District-wise, season-wise crop production statistics from 1997 (https://data.gov.in/resources/district-wise-season-wise-crop-production-statistics-1997)
* This data includes crop production in India from 1997-2015
* This Includes what was the crops produced in a particular state. And its production quantity(Tonnes) and area(Hectare) 

##### 2: World Temperature Data (https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data)
* This data includes temperature data from 1743 - 2013
* The world temperature dataset has multiple datasets under it , for the purpose of this project i will be using GlobalLandTemperaturesByState.csv dataset . As this perticular dataset is consist weather for a state in a perticular country on a perticular day.

#### Information about the datasets
* Both the datasets are of type csv.
* Combined together both the datasets consists of over 891766 rows.
* World tempertature data will be filtered based on multiple conditions such as country as India and min and maximum years as per the crop production data.

In [6]:
# Read in the data here
world_crop_produce_data = spark.read.option('header',True).csv('./data/worldwide-crop-production/original/*')
world_temp_data = spark.read.option('header',True).csv('./data/world_temperature_data/GlobalLandTemperaturesByCountry.csv')

## Reusable udf's

In [13]:
#Trim spaces of strings
trim_str_udf = udf(lambda x : str(x.strip()))

#Parse string to int
str_to_int_udf = udf(lambda x: int(x))

#Extract year(int) from datetime string y-m-d
extract_year_udf = udf(lambda x: datetime.strptime(x, '%Y-%m-%d').year)

## Transpose world-crop-produce year columns to rows

In [20]:
world_crop_produce_data.show(5)

+---------+-----------+---------+--------------------+------------+--------------+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+--------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+
|Area Code|       Area|Item Code|                Item|Element Code|       Element|  Unit|Y1961|Y1961F|Y1962|Y1962F|Y1963|Y1963F|Y1964|Y1964F|Y1965|Y1965F|Y1966|Y1966F|Y1967|Y1967F|Y1968|Y1968F|Y1969|Y1969F|Y1970|Y1970F|Y1971|Y1971F|Y1972|Y1972F|Y1973|Y1973F|Y1974|Y1974F|   Y1975|Y1975F|       Y1976|Y1976F|       Y1977|Y1977F|       Y1978|Y1978F|       Y1979|Y1979F|       Y1980|Y1980F|       Y1981|Y1981F|       Y1982|Y1982F|       Y1983|Y1983F|       Y1984|Y1984F|       Y1985|Y1985F|       Y1986|Y1986F|       Y1987|Y1987F|       Y1988|Y1988F|       Y1989|Y1989F|       Y1990|Y1990F|       Y1991|Y1991F|       Y1992|Y1992F|       Y1993|Y1993F|       Y1994|Y1994F|       Y1995|Y1995F|       Y1996|Y1996F|       Y1997|Y1997F|       Y1998|Y1998F|       Y1999|Y1999F|       Y2000|Y2000F|       Y2001|Y2001F|       Y2002|Y2002F|       Y2003|Y2003F|       Y2004|Y2004F|       Y2005|Y2005F|       Y2006|Y2006F|       Y2007|Y2007F|       Y2008|Y2008F|       Y2009|Y2009F|       Y2010|Y2010F|       Y2011|Y2011F|       Y2012|Y2012F|       Y2013|Y2013F|       Y2014|Y2014F|
+---------+-----------+---------+--------------------+------------+--------------+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+--------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+
|        2|Afghanistan|      221| Almonds, with shell|        5312|Area harvested|    ha| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null|0.000000|     F| 5900.000000|     F| 6000.000000|     F| 6000.000000|     F| 6000.000000|     F| 5800.000000|     F| 5800.000000|     F| 5800.000000|     F| 5700.000000|     F| 5700.000000|     F| 5600.000000|     F| 5500.000000|     F| 5500.000000|     F| 5400.000000|     F| 5400.000000|     F| 6010.000000|    Im| 5500.000000|  null| 5500.000000|  null| 5500.000000|  null| 5500.000000|  null| 5500.000000|  null| 5500.000000|  null| 5500.000000|  null| 5500.000000|  null| 5500.000000|  null| 7000.000000|     F| 9000.000000|     F| 5500.000000|  null| 5700.000000|  null|12000.000000|     *|10635.000000|    Im|12000.000000|  null|12000.000000|  null|12000.000000|  null|11029.000000|  null|11210.000000|  null|13469.000000|  null|13490.000000|  null|14114.000000|  null|13703.000000|  null|
|        2|Afghanistan|      221| Almonds, with shell|        5419|         Yield| hg/ha| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null|    null|  null|16610.000000|    Fc|15000.000000|    Fc|20000.000000|    Fc|17500.000000|    Fc|17069.000000|    Fc|13793.000000|    Fc|18966.000000|    Fc|17018.000000|    Fc|18421.000000|    Fc|16071.000000|    Fc|18182.000000|    Fc|16364.000000|    Fc|16667.000000|    Fc|16296.000000|    Fc|15807.000000|    Fc|16364.000000|    Fc|18000.000000|    Fc|16364.000000|    Fc|16364.000000|    Fc|16364.000000|    Fc|16364.000000|    Fc|16364.000000|    Fc|16364.000000|    Fc|20000.000000|    Fc|17143.000000|    Fc|16667.000000|    Fc|20514.000000|    Fc|24561.000000|    Fc|12250.000000|    Fc|14696.000000|    Fc|16667.000000|    Fc|26234.000000|    Fc|35000.000000|    Fc|39154.000000|    Fc|49955.000000|    Fc|45000.000000|    Fc|45960.000000|    Fc|29910.000000|    Fc|19996.000000|    Fc|
|        2|Afghanistan|      221| Almonds, with shell|        5510|    Production|tonnes| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null|0.000000|     F| 9800.000000|     F| 9000.000000|     F|12000.000000|     F|10500.000000|     F| 9900.000000|     F| 8000.000000|     F|11000.000000|     F| 9700.000000|     F|10500.000000|     F| 9000.000000|     F|10000.000000|     F| 9000.000000|     F| 9000.000000|     F| 8800.000000|     F| 9500.000000|     F| 9000.000000|  null| 9900.000000|  null| 9000.000000|  null| 9000.000000|  null| 9000.000000|  null| 9000.000000|  null| 9000.000000|  null| 9000.000000|  null|11000.000000|     F|12000.000000|     F|15000.000000|     F|11283.000000|    Im|14000.000000|     *|14700.000000|     *|15630.000000|     *|20000.000000|  null|31481.000000|  null|42000.000000|  null|43183.000000|     *|56000.000000|  null|60611.000000|  null|62000.000000|  null|42215.000000|  null|27400.000000|  null|
|        2|Afghanistan|      711|Anise, badian, fe...|        5312|Area harvested|    ha| null|     M| null|     M| null|     M| null|     M| null|     M| null|     M| null|     M| null|     M| null|     M| null|     M| null|     M| null|     M| null|     M| null|     M|    null|     M|        null|     M|        null|     M|        null|     M|        null|     M|        null|     M|        null|     M|        null|     M|        null|     M|        null|     M|        null|     M|  700.000000|     F|  700.000000|     F|  300.000000|     F| 1100.000000|     F| 1300.000000|     F| 2128.000000|    Im|  700.000000|     F| 2534.000000|    Im| 3063.000000|    Im| 3000.000000|     F| 7000.000000|     F| 4000.000000|     F|12000.000000|     F|11288.000000|    Im| 4000.000000|     F| 1600.000000|     F| 3300.000000|     F| 6800.000000|     F|15000.000000|     F|16000.000000|     F|18017.000000|    Im|28000.000000|     F|15000.000000|     F|16904.000000|    Im|17000.000000|     F|18505.000000|    Im|18500.000000|     F|18500.000000|     F|20300.000000|    Im|
|        2|Afghanistan|      711|Anise, badian, fe...|        5419|         Yield| hg/ha| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null| null|  null|    null|  null|        null|  null|        null|  null|        null|  null|        null|  null|        null|  null|        null|  null|        null|  null|        null|  null|        null|  null|        null|  null| 7143.000000|    Fc| 7143.000000|    Fc| 6667.000000|    Fc| 7273.000000|    Fc| 7692.000000|    Fc| 7016.000000|    Fc| 7143.000000|    Fc| 6818.000000|    Fc| 6734.000000|    Fc| 6667.000000|    Fc| 6000.000000|    Fc| 6250.000000|    Fc| 5917.000000|    Fc| 6201.000000|    Fc| 6250.000000|    Fc| 6250.000000|    Fc| 6061.000000|    Fc| 6029.000000|    Fc| 6000.000000|    Fc| 6250.000000|    Fc| 6208.000000|    Fc| 6071.000000|    Fc| 6000.000000|    Fc| 6140.000000|    Fc| 6000.000000|    Fc| 6304.000000|    Fc| 6757.000000|    Fc| 6757.000000|    Fc| 6513.000000|    Fc|
+---------+-----------+---------+--------------------+------------+--------------+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+-----+------+--------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+------------+------+
only showing top 5 rows

In [24]:
world_crop_produce=world_crop_produce_data.select('Area','Area Code','Item','Item Code','Element','Element Code','Unit','Y1961','Y1962','Y1963','Y1964',
'Y1965','Y1966','Y1967','Y1968','Y1969','Y1970','Y1971','Y1972','Y1973','Y1974','Y1975','Y1976','Y1977',
'Y1978','Y1979','Y1980','Y1981','Y1982','Y1983','Y1984','Y1985','Y1986','Y1987','Y1988','Y1989','Y1990','Y1991',
'Y1992','Y1993','Y1994','Y1995','Y1996','Y1997','Y1998','Y1999','Y2000','Y2001','Y2002','Y2003','Y2004',
'Y2005','Y2006','Y2007','Y2008','Y2009','Y2010','Y2011','Y2012','Y2013','Y2014')

def to_explode(df, by):

    # Filter dtypes and split into column names and type description
    cols, dtypes = zip(*((c, t) for (c, t) in df.dtypes if c not in by))
    # Spark SQL supports only homogeneous columns
    assert len(set(dtypes)) == 1, "All columns have to be of the same type"

    # Create and explode an array of (column_name, column_value) structs
    kvs = explode(array([
      struct(lit(c).alias("year"), col(c).alias("qty")) for c in cols
    ])).alias("kvs")

    return df.select(by + [kvs]).select(by + ["kvs.year", "kvs.qty"])

world_crop_produce = to_explode(world_crop_produce, ['Area','Area Code','Item','Item Code','Element','Element Code','Unit'])
world_crop_produce = world_crop_produce.withColumn('year',world_crop_produce.year.substr(2,4))
world_crop_produce.show()

+-----------+---------+-------------------+---------+--------------+------------+----+----+-----------+
|       Area|Area Code|               Item|Item Code|       Element|Element Code|Unit|year|        qty|
+-----------+---------+-------------------+---------+--------------+------------+----+----+-----------+
|Afghanistan|        2|Almonds, with shell|      221|Area harvested|        5312|  ha|1961|       null|
|Afghanistan|        2|Almonds, with shell|      221|Area harvested|        5312|  ha|1962|       null|
|Afghanistan|        2|Almonds, with shell|      221|Area harvested|        5312|  ha|1963|       null|
|Afghanistan|        2|Almonds, with shell|      221|Area harvested|        5312|  ha|1964|       null|
|Afghanistan|        2|Almonds, with shell|      221|Area harvested|        5312|  ha|1965|       null|
|Afghanistan|        2|Almonds, with shell|      221|Area harvested|        5312|  ha|1966|       null|
|Afghanistan|        2|Almonds, with shell|      221|Area harvested|        5312|  ha|1967|       null|
|Afghanistan|        2|Almonds, with shell|      221|Area harvested|        5312|  ha|1968|       null|
|Afghanistan|        2|Almonds, with shell|      221|Area harvested|        5312|  ha|1969|       null|
|Afghanistan|        2|Almonds, with shell|      221|Area harvested|        5312|  ha|1970|       null|
|Afghanistan|        2|Almonds, with shell|      221|Area harvested|        5312|  ha|1971|       null|
|Afghanistan|        2|Almonds, with shell|      221|Area harvested|        5312|  ha|1972|       null|
|Afghanistan|        2|Almonds, with shell|      221|Area harvested|        5312|  ha|1973|       null|
|Afghanistan|        2|Almonds, with shell|      221|Area harvested|        5312|  ha|1974|       null|
|Afghanistan|        2|Almonds, with shell|      221|Area harvested|        5312|  ha|1975|   0.000000|
|Afghanistan|        2|Almonds, with shell|      221|Area harvested|        5312|  ha|1976|5900.000000|
|Afghanistan|        2|Almonds, with shell|      221|Area harvested|        5312|  ha|1977|6000.000000|
|Afghanistan|        2|Almonds, with shell|      221|Area harvested|        5312|  ha|1978|6000.000000|
|Afghanistan|        2|Almonds, with shell|      221|Area harvested|        5312|  ha|1979|6000.000000|
|Afghanistan|        2|Almonds, with shell|      221|Area harvested|        5312|  ha|1980|5800.000000|
+-----------+---------+-------------------+---------+--------------+------------+----+----+-----------+
only showing top 20 rows

# Step 2: Explore and Assess the Data

In [19]:
world_temp_data.printSchema()
world_temp_data.count()
world_temp_data.show(10)

root
 |-- dt: string (nullable = true)
 |-- AverageTemperature: string (nullable = true)
 |-- AverageTemperatureUncertainty: string (nullable = true)
 |-- Country: string (nullable = true)

+----------+------------------+-----------------------------+-------+
|        dt|AverageTemperature|AverageTemperatureUncertainty|Country|
+----------+------------------+-----------------------------+-------+
|1743-11-01|4.3839999999999995|                        2.294|  Åland|
|1743-12-01|              null|                         null|  Åland|
|1744-01-01|              null|                         null|  Åland|
|1744-02-01|              null|                         null|  Åland|
|1744-03-01|              null|                         null|  Åland|
|1744-04-01|              1.53|                         4.68|  Åland|
|1744-05-01| 6.702000000000001|                        1.789|  Åland|
|1744-06-01|11.609000000000002|                        1.577|  Åland|
|1744-07-01|            15.342|                         1.41|  Åland|
|1744-08-01|              null|                         null|  Åland|
+----------+------------------+-----------------------------+-------+
only showing top 10 rows

In [11]:
world_crop_produce.printSchema()
world_crop_produce.count()

root
 |-- Area: string (nullable = true)
 |-- Item: string (nullable = true)
 |-- Element: string (nullable = true)
 |-- Unit: string (nullable = true)
 |-- year: string (nullable = false)
 |-- qty: string (nullable = true)

2255094

## Filter temperature data based on crop years

### Extract minimum and maximum year in the agriculture data to filter temperature data

In [14]:

crop_produce_years = world_crop_produce.select('year').distinct()
crop_produce_years = crop_produce_years.withColumn('year',str_to_int_udf(crop_produce_years.year))
min_crop_produce_year = int(crop_produce_years.agg({'year':'min'}).collect()[0][0])
max_crop_produce_year = int(crop_produce_years.agg({'year':'max'}).collect()[0][0])
print(min_crop_produce_year,max_crop_produce_year)

1961 2014

### Filter temperature data based on the minimun and maximun year of agriculture data

In [15]:
world_temperature_data = world_temp_data.withColumn('year',extract_year_udf(world_temp_data.dt))
world_temperature_data = world_temperature_data.filter((col('year') >= min_crop_produce_year) & (col('year') <= max_crop_produce_year))
world_temperature_data.count()

153819

## Get list of countries from agriculture data

In [34]:
countries = world_crop_produce.select('Area' , 'Area Code').distinct()
countries = countries.withColumnRenamed('Area','country').withColumnRenamed('Area Code','country_code')
countries.show()

+--------------------+------------+
|             country|country code|
+--------------------+------------+
|Saint Kitts and N...|         188|
|             Romania|         183|
|     China, mainland|          41|
|            Suriname|         207|
|               Yemen|         249|
|        Sierra Leone|         197|
|            Portugal|         174|
|       Faroe Islands|          64|
|             R�union|         182|
|United Arab Emirates|         225|
|              Malawi|         130|
|           Mauritius|         137|
|            Honduras|          95|
|               Tonga|         219|
|China, Taiwan Pro...|         214|
|           Indonesia|         101|
|            Bulgaria|          27|
|                Oman|         221|
|             Albania|           3|
|            Slovenia|         198|
+--------------------+------------+
only showing top 20 rows

## Get list of items as crops from crops data

In [35]:
crops = world_crop_produce.select('Item' , 'Item Code').distinct()
crops = crops.withColumnRenamed('Item','crop').withColumnRenamed('Item Code','crop_code')
crops.show()

+--------------------+---------+
|                crop|crop_code|
+--------------------+---------+
|  Flax fibre and tow|      773|
|      Safflower seed|      280|
| Lettuce and chicory|      372|
|            Soybeans|      236|
|Grapefruit (inc. ...|      507|
|          Sugar beet|      157|
|          Chick peas|      191|
|              Carobs|      461|
|Brazil nuts, with...|      216|
|            Cherries|      531|
|Cashew nuts, with...|      217|
|              Grapes|      560|
|            Potatoes|      116|
|      Sweet potatoes|      122|
|Jute & Jute-like ...|     1751|
|     Rubber, natural|      836|
|          Poppy seed|      296|
|         Berries nes|      558|
|             Papayas|      600|
|           Nuts, nes|      234|
+--------------------+---------+
only showing top 20 rows

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

#### Initial crop data counts

In [16]:
world_crop_produce.count()

2255094

#### Filter crop produce data where quantity isnot null

In [17]:
world_crop_produce = world_crop_produce.where(world_crop_produce.qty.isNotNull())

In [18]:
world_crop_produce.count()

1725544

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [ ]:
# Write code here

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.